<ul class="list-group">
    <li class="list-group-item" *ngFor="let personaje of personajes">Nombre: {{personaje.nombre}} // Poder: {{personaje.poder}}</li>
</ul>

<form #form="ngForm" (ngSubmit)="registrarPersonaje(form)">
    <h1>Registra personaje</h1>

    <label for="Nombre">Nombre: </label>
    <input type="text" name="nombre" autocomplete="off" ngModel required><br><br>

    <label for="Poder">Poder: </label>
    <input type="number" name="poder" autocomplete="off" ngModel required><br><br>

    <button type="submit">Submit</button>
</form>
